input{
    width: 200px;
    font-size: 18px;
    background-color: inherit;
    border: none;
    border: 2px solid rgb(230,230,230);
    border-radius: 10px;
    outline: none;
    color: rgb(230,230,230);
}
.fileInput{
    border: none;
    font-size: 20px;
}
