<table class="table admin-table table-striped table-dark" style="display: block; height: 300px; overflow-y: auto;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username
        <div class="lockIcon"><i *ngIf="!updateMode" class="fa fa-lock" aria-hidden="true" style="padding-left: 1rem;"></i>
        <i *ngIf="updateMode" class="fa fa-unlock" aria-hidden="true" style="padding-left: 1rem;"></i></div>
      </th>
      <th scope="col">Description
        <div class="lockIcon"><i *ngIf="!updateMode" class="fa fa-lock" aria-hidden="true" style="padding-left: 1rem;"></i>
        <i *ngIf="updateMode" class="fa fa-unlock" aria-hidden="true" style="padding-left: 1rem;"></i></div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{user.userId}}</th>
      <td style="width: 100%;">
        <div id="form-username" class="form-group">
          <div *ngIf="!updateMode; then viewMode else updatingMode"></div>
            <ng-template #viewMode><input name="nameInput" placeholder="{{user.username}}" disabled></ng-template>
            <ng-template #updatingMode><input name="nameInput" class="updateInput" placeholder="{{user.username}}"></ng-template>
        </div>
      </td>
      <td id="form" style="width: 100%;">
        <div class="form-group">
          <div *ngIf="!updateMode; then viewMode1 else updatingMode1"></div>
            <ng-template #viewMode1><input name="descInput" placeholder="{{user.description}}" disabled>
              <i class="fa fa-times timesIcon" style="font-size:36px;color:red;cursor: pointer;" (click)="deleteUser(user.userId)"></i></ng-template>
            <ng-template #updatingMode1><input name="descInput" class="updateInput" placeholder="{{user.description}}">
              <i class="fa fa-times timesIcon" style="font-size:36px;color:red;cursor: pointer;" (click)="deleteUser(user.userId)"></i></ng-template>
          </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="container">
  <div class="row">
    <button type="button" class="btn btn-outline-primary btn-lg" id="BtnUpdate" (click)="changeUpdateMode(); !updateMode ? updateProfiles() : ''">{{updateMode ? 'Save changes' : 'Update'}}</button>
  </div>
</div>



