<div class="leftBar">
  <div class="leftBarUpperDivMain">
    <table class="leftBarUpperDiv">
      <tr>
        <a [routerLink]="['']">
          <td><fa-icon [icon]="faHome"></fa-icon></td>
          <td><span>Home</span></td>
        </a>
      </tr>

      <tr>
        <a [routerLink]="['/upload']">
          <td><fa-icon [icon]="faCompactDisc"></fa-icon></td>
          <td><span>Library</span></td>
        </a>
      </tr>
      <tr>
        <a (click)="getProfile()">
          <td><fa-icon [icon]="faUser"></fa-icon></td>
          <td><span>Profile</span></td>
        </a>
      </tr>
    </table>
  </div>

  <div class="leftBarLowerDiv">
    <div class="leftBarLowerDivInside">
      <div class="infospanDiv">
        <span class="info-span">COMMON PLAYLISTS</span>
      </div>
      <mat-accordion class="accordeon-dark">
        <mat-expansion-panel *ngFor="let playlist of playlists" hideToggle>
          <mat-expansion-panel-header
            (click)="getCommonPlaylistTracks(playlist.commonPlaylistId)"
          >
            <mat-panel-title>
              {{ playlist.commonPlaylistName }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p
            *ngFor="let playlistTrack of playlistTracks"
            (click)="
              this.trackService.trackDivClick(playlistTrack.publicId);
              this.trackService.setActiveTrack(playlistTrack)"
            style="cursor: pointer;"
          >
            {{ playlistTrack.performerName }} - {{ playlistTrack.trackName }}
            <mat-divider></mat-divider>
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="leftBarCreatePlaylistDiv">
    <div
      class="leftBarCreatePlaylistDivInside"
      [routerLink]="['/library/playlists/create']"
    >
      <i class="fa fa-plus"></i>
      <span>New Playlist</span>
    </div>
  </div>
</div>
