<div class="contentDiv">
  <div class="filterBar">
    <h4>Filters:</h4>
    <mat-form-field appearance="fill">
      <mat-label class="genreSelectorLabel">Genre</mat-label>
      <mat-select [(ngModel)]="selectedGenre">
        <mat-option *ngFor="let genre of genres" [value]="genre.genreName">
          {{genre.genreName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="dateInput">
      <mat-label class="dateLabel">First date</mat-label>
      <input matInput type="text" [(ngModel)]="firstDate">
      <button mat-button *ngIf="firstDate" matSuffix mat-icon-button aria-label="Clear" (click)="firstDate=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="dateInput">
      <mat-label class="dateLabel">Second date</mat-label>
      <input matInput type="text" [(ngModel)]="secondDate">
      <button mat-button *ngIf="secondDate" matSuffix mat-icon-button aria-label="Clear" (click)="secondDate=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin-left: 1rem;" (click)="applyFilters()">Apply filters</button>
    <button mat-raised-button color="accent" style="margin-left: 1rem;" (click)="removeFilters()">Clear filters</button>
  </div>

  <div class="text-center mt-3">
    <table class="trackTable">
      <tr>
        <td></td>
        <td>TITLE</td>
        <td>ARTIST</td>
        <td class="trackDateAdded">RELEASE YEAR</td>
        <td class="trackUploaderName">GENRES</td>
        <td></td>
      </tr>
      <tr *ngFor="let track of tracks" class="trackDiv" id={{track.publicId}} (click)="this.trackService.trackDivClick(track.publicId); this.trackService.setActiveTrack(track);"
          (mouseover)="this.trackService.trackDivMouseOver(track.publicId)" (mouseout)="this.trackService.trackDivMouseOut(track.publicId)">
        <td><a (click)="this.trackService.modifyHref(track.url, $event, track.performerName, track.trackName)"><fa-icon [icon]="this.trackService.faArrowAltCircleDown" (mouseover)="this.trackService.downloadIconMouseOver($event)" class="fa-lg downloadIcon"></fa-icon></a></td>
        <td><span>{{track.trackName}}</span></td>
        <td><span>{{track.performerName}}</span></td>
        <td class="trackDateAdded">{{track.trackYear}}</td>
        <td class="trackUploaderName"><span *ngFor="let genre of track.trackGenres">{{genre.genre.genreName}} </span></td>
        <td class="trackDetailsIconDiv">
          <div class="trackDetailsIcon dropdown" dropdown (click)="$event.stopPropagation()">
            <a dropdownToggle style="cursor: pointer;">
              <fa-icon [icon]="this.trackService.faEllipsisV"></fa-icon>
            </a>

            <div class="dropdown-menu dropdown-menu-right mt-1 detailsDropdownMenu" *dropdownMenu>
              <a class="dropdown-item" [routerLink]="['/track', track.trackId, 'addToPlaylist']">Add to Playlist</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Download</a>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

</div>
