<div class="contentDiv">
  <div class="text-center mt-3">
    <table class="table table-dark">
      <thead>
        <tr>
          <td id="title">TITLE</td>
          <td id="artist">ARTIST</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of tracks" class="trackDiv" id={{track.trackId}}>
          <!--<td><a (click)="this.trackService.modifyHref(track.url, $event, track.performerName, track.trackName)"><fa-icon [icon]="this.trackService.faArrowAltCircleDown" (mouseover)="this.trackService.downloadIconMouseOver($event)" class="fa-lg downloadIcon"></fa-icon></a></td>-->
          <td><span>{{track.name}}</span></td>
          <td><span>{{track.artist}}</span></td>
          <td class="trackDetailsIconDiv">
            <div class="trackDetailsIcon dropdown" dropdown (click)="$event.stopPropagation()">
              <a dropdownToggle style="cursor: pointer;">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
