
.trackDetailsIconDiv{
  overflow: visible;
}

.filterBar {
  color: white;
  border-color: aliceblue;
  margin-left: 2rem;
  margin-top: 2rem;
}

.genreSelector {
  background-color: #fff;
  height: 60px;
}

.dateInput {
  background-color: #fff;
  margin-left: 2rem;
  color: black;
  height: 60px;
}
