<nav class="">
  <div class="navInside">
    <div class="backFrontIcons">
      <div class="navIcon">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div class="navIcon">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </div>

    <!-- Search form -->
    <div class="searchForm">
      <form>
        <div class="searchIconDiv"><i class="fa fa-search" aria-hidden="true"></i></div>
        <input class="searchFormInput" type="text" placeholder="Search" name="search"
          aria-label="Search">
      </form>
    </div>

    </div>
</nav>
