<nav class="">
  <div class="navInside">
    <div class="backFrontIcons">
      <div class="navIcon">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div class="navIcon">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>
    </div>

    <!-- Search form -->
    <div class="searchForm">
      <form>
        <div class="searchIconDiv"><i class="fa fa-search" aria-hidden="true"></i></div>
        <input class="searchFormInput" type="text" placeholder="Search" name="search"
          aria-label="Search" (keyup)="searchInputKeyUpListener($event)">
      </form>
    </div>

    <!--Login-->
    <div *ngIf="!loggedIn()" class="loginButtonDiv" [routerLink]="['login']">
      <span>Login<fa-icon [icon]="faSignInAlt" class="ml-2"></fa-icon></span>
    </div>

    <div *ngIf="loggedIn()" class="dropdown loggedUserDropdown" dropdown>
      <a class="dropdown-toggle text-light loggedUserText" dropdownToggle>
        Welcome, {{authService.decodedToken?.given_name || authService.decodedToken?.unique_name | titlecase}}
      </a>

      <div class="dropdown-menu mt-1" *dropdownMenu>
        <a class="dropdown-item" href="#">Edit profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
